.body_font{
    /*font-family: Rockwell;*/
    font-size: 25px;
}

.center_image{
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.center_text{
	text-align: center;
    /* font-family: Rockwell; */
    font-size: 45px;
}

.label{
    /* font-family: Rockwell; */
    font-size: 35px;
}

#problem{
	width:400px;
	margin: 0px 0px 0px 700px;
	text-align: right;
}

#button{
	background-color:#FBA90A;
	padding: 10px;
	font-size: 25px;
    /* font-family: Rockwell; */
}

#textbox{
	font-size: 25px;
    /* font-family: Rockwell; */
	width: 100px;
}

#math_problem{
    text-align: center;
    font-size: 45px;
    /* font-family: Rockwell; */
}

#header{
    /* font-family: Rockwell; */
    font-size: 45px;
}
